[SCM] Change state by changeset {{changeset.id}} of repository {{repository.name}}

{{changeset.description}}

{{#diffUrl}}
Changes: {{diffUrl}}
{{/diffUrl}}
{{#diffRestUrl}}
Patch: {{diffRestUrl}}
{{/diffRestUrl}}